/* positions, structure, width, height*/
body{
  margin: auto;
  width: 500px;
}

div{
  background-color: green;
  width: 250px;
  height: 450px;
  margin: 20px;
  overflow: scroll;
}

@media only screen and (min-width:500px){
  div{
    display: inline-block;
    background-color: lightblue;
  }
}