<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/add">Add a New Task</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <p>title: <%= taskInfo.title %></p>
    <p>description: <%= taskInfo.description %></p>
    <p>contact<%= taskInfo.contact %></p> 
    <p>status <%=taskInfo.status %></p>
  </section>
</body>
</html>